@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

/* ---------------------------------------------------
    VARIABLES . MIXINS . FUNCTIONS
----------------------------------------------------- */

    $body-bgr: #343a40;
    $body-color: #999;

    $sidebar-bgr: #000;
    $sidebar-color: #fff;
    $sidebar-dropdown-bgr: #222;

    $sidebar-hover-bgr: #000;
    $sidebar-hover-color: #fff;

    $sidebar-width: 250px;
    $sidebar-min-width: 80px;

    $prop: 10px;

    @mixin transition-all($sec) {
        transition: all $sec;
    }


/* ---------------------------------------------------
    GLOBAL 
    ----------------------------------------------------- */
    body {
        background-color: $body-bgr;

        p {
            font-size: 1.1rem;
            line-height: 1.7;
            color: $body-color; 
        }
    
        a, a:hover, a:focus {
            color: inherit;
            text-decoration: none;
            @include transition-all(0.3s);
        }

        .wrapper {
            display: flex;
            align-items: stretch;
        }        
    }

/* ---------------------------------------------------
    SIDEBAR 
    ----------------------------------------------------- */
    a[data-toggle="collapse"] {
        position: relative;
    }

    #sidebar {
        min-width: $sidebar-width;
        max-width: $sidebar-width;
        background: $sidebar-bgr;
        color: $sidebar-color;
        @include transition-all(0.3s);

        &.active {
            min-width: $sidebar-min-width;
            max-width: $sidebar-min-width;
            text-align: center;

            .sidebar-header { 
                h3 { display: none; }
                strong { display: block; }
            }

            ul {
                ul li a {
                    padding: $prop 0 !important;
                    margin: 0 !important;
                }

                li a {
                    padding: 2*$prop $prop;
                    text-align: center;
                    font-size: 0.85em;
                    
                    i {
                        margin-right: 0;
                        display: block;
                        font-size: 1.8em;
                        margin-bottom: $prop/2;
                    }
                }
            }

            .dropdown-toggle::after {
                top: auto;
                bottom: $prop;
                right: 50%;
                -webkit-transform: translateX(50%);
                -ms-transform: translateX(50%);
                transform: translateX(50%);
            }
           
        }

        ul li a { 
            text-align: left;
            padding: $prop ;
            font-size: 1.1em;
            display: block;

            &:hover {
                color: $sidebar-bgr;
                background-color: $sidebar-color;
            }

            i {
                margin-right: $prop;
            }
        }

        ul li.active > a, a[aria-expanded="true"] {
            color: $sidebar-color;
            background-color:$sidebar-bgr;
        }

        .sidebar-header {
            padding: 2*$prop;
            background-color:$sidebar-bgr;

            strong {
                display: none;
                font-size: 1.8em;
            }
        }
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 2*$prop;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 3*$prop !important;
        background: $sidebar-dropdown-bgr;
    }
    
    #sidebarCollapse {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: $sidebar-color;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        transition-delay: 0.1s;

        &:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }
        &:nth-of-type(2) {
            opacity: 0;
        }
        &:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }
    }

    #sidebarCollapse.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

/* ---------------------------------------------------
    CONTENT STYLE
    ----------------------------------------------------- */
    #content {
        width: 100%;
        padding: 2*$prop;
        min-height: 100vh;
        @include transition-all(0.3s);
    }
    
/* ---------------------------------------------------
    MEDIA QUERIES
    ----------------------------------------------------- */
    @media (max-width: 768px) {

        #sidebar {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            margin-left: -80px !important;

            .sidebar-header {
                h3 {
                    display: none;
                }

                strong {
                    display: block;
                }
            }

            ul li a {
                padding: 20px 10px;
    
                span {
                    font-size: 0.85em;
                }
    
                i {
                    margin-right: 0;
                    display: block;
                    font-size: 1.3em;
                }
            }    
        }

        .dropdown-toggle::after {
            top: auto;
            bottom: 10px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }

        #sidebar.active {
            margin-left: 0 !important;
        }

        #sidebar ul ul a {
            padding: 10px !important;
        }

        #sidebar {
            margin-left: 0;
        }

        #sidebarCollapse span:first-of-type,
        #sidebarCollapse span:nth-of-type(2),
        #sidebarCollapse span:last-of-type {
            transform: none;
            opacity: 1;
            margin: 5px auto;
        }

        #sidebarCollapse.active span {
            margin: 0 auto;

            &:first-of-type {
                transform: rotate(45deg) translate(2px, 2px);
            }
    
            &:nth-of-type(2) {
                opacity: 0;
            }
            
            &:last-of-type {
                transform: rotate(-45deg) translate(1px, -1px);
            }
        }

    }
